@import "./../../scss/definitions/variables.scss";
.createProduct{
 position: absolute;
   top: calc(100% - 10px);
   left: calc(50% - 5px);
   transform: translate(-50%, -50%);
   width: calc(100% - 30px);
  .greet {
    margin: 20px 15px 60px;
  }
  h3 {
    color: $primary;
    text-align: center;
    margin: 10px;
  }
  .radio {
    justify-content: space-between;
    margin-top: 10px;
    label{
      margin: 10px;
    }
  }
  select {
    margin: 10px;
    width: 50%;
    height: 30px;
    font-weight: 700;
  }
  option {
    font-size: 20;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  .inputView {
    display: flex;
  }
  button {
    width: 100%;
    margin-top: 25px;
    // padding: 15px;
  }
  .productImg {
    height: 100px;
    width: 100px;
  }
  div.input {
    margin: 10px;
    label {
      display: block;
      font-size: 1rem;
      color: $lbl-grey;
    }
    input {
      padding: 8px 8px 8px 0;
      display: block;
      width: calc(100% - 10px);
      border: none;
      border-bottom: 2px solid $border-grey;
      font-size: 1rem;
      &:focus {
        border-bottom-color: $primary;
      }
      &[type="password"] {
        padding: 8px 28px 8px 0;
        width: calc(100% - 30px);
      }
    }
  
      }
  margin: 15px;
   position: absolute;
   top: calc(50% - 10px);
   left: calc(50% - 10px);
   transform: translate(-50%, -50%);
  width: calc(100% - 30px);
    div.controls {
    ul {
      li {
        display: block;
        margin-bottom: 10px;
        position: relative; 
      }
    }
  }

}
