@import "./../../scss/definitions/variables.scss";
.order {
  margin: 90px 0 55px;
  .sub-header {
    span {
      float: right;
    }
  }
  .details {
    margin: 10px;
    ul.status {
      display: block;
      li {
        text-align: center;
        position: relative;
        svg {
          margin: 15px 0;
          filter: drop-shadow(10px 0 5px $lbl-grey);
        }
        label {
          display: block;
          font-size: 1.1rem;
        }
      }
    }
    ul.by {
      margin: 20px;
      text-align: center;
      li {
        font-size: 0.9rem;
        display: inline-block;
        text-align: center;
        padding: 5px;
      }
    }
    .customer {
      border-radius: 5px;
      padding: 5px;
      margin: 20px;
      box-shadow: 0px 5px 10px -5px #aaaaaa;
      border: 1px solid #eee;
      div {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.2rem;
        margin-right: 10px;
        text-transform: uppercase;
        label {
          display: block;
          font-size: 0.8rem;
        }
      }
      .call {
        float: right;
        margin: 16px;
      }
    }
  }
  .actions {
    margin: 0 30px;
    position: fixed;
    width: calc(100% - 60px);
    bottom: 65px;
    li {
      width: calc(50% - 5px);
      display: inline-block;
      text-align: center;
      border-radius: 5px;
      &:first-child {
        background: #ddffde;
        margin-right: 5px;
      }
      &:last-child {
        background: #ffd8cb;
        margin-left: 5px;
      }
      button {
        margin: 15px;
        border-radius: 50%;
        label {
          display: block;
        }
      }
    }
  }
}

.order-edit {
  margin: 80px 0 55px;
  .elements {
    margin: 0 10px;
  }
  h3 {
    color: $primary;
    padding: 0 0 10px;
  }
  .options {
    display: inline-block !important;
    width: 50%;
    label {
      margin: 0 0 0 5px;
    }
    svg {
      vertical-align: sub;
    }
  }
  div.input {
    ul {
      li {
        display: block;
        margin-bottom: 10px;
        position: relative;
      
          label {
            display: inline-block;
            vertical-align: super;
            margin-left: 3px;
          }
          button {
            padding: 12px;
        margin-right: 10px;
        margin-left: 10px;
            border: none;
            border-radius: 5px;
            background: none;
            font-size: 1rem;
            background: $primary;
            color: $white;
            width: 100%;
          }
      }
    }
  
  .row-view {
    display: -ms-grid;
  }
  .text-row {
    float: left;
  }
  .switch-view {
    float: right;
  }
  .toggle-view {
    display: grid;
    grid-template-columns: 100px 100px;
  }
  .list-view {
    display: grid;
    grid-template-columns: 100px 500px;
    margin: 10px;
  }
  .list-container {
    border: 1px solid lightgrey;
    padding: 5px;
  }
  .input-view {
    justify-content: center;
  }
  .radio {
    justify-content: space-between;
    margin-top: 10px;
  }

  .product-img {
    height: 150px;
    width: 150px;
    align-items: center;
  }
  .thumbnail-img {
    height: 80px;
    width: 80px;
  }
}
}

.order-list {
  border: 0.5px solid lightgrey;
  border-radius: 5px;
  padding: 5px 15px 5px 5px;
  margin: 5px 0 5px;
  position: relative;
  .menu {
    float: right;
    margin: 5px -10px 0;
  }
  .list-view {
    padding: 5px 10px;
    ul {
      li {
        display: block;
        font-size: 0.9rem;
        &:first-child {
          vertical-align: top;
          height: 22px;
        }
        .shipped {
          float: left;
        }
        .edit {
          float: right;
          fill: $primary;
        }
        label {
          font-size: 0.8rem;
          padding: 2px 5px;
          color: #4caf50;
          border-radius: 5px;
        }
      }
    }
  }
  .view {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    background: #eee;
    height: 100%;
    z-index: 1;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $primary;
    }
  }
  .actions {
    margin-left: 10px;
    button {
      font-size: 0.8rem;
      padding: 5px;
      border-radius: 5px;
      color: #fff;
      margin-right: 5px;
      &.accept {
        background: #4caf50;
      }
      &.reject {
        background: #eca202;
      }
    }
  }
}
.container {
  display: flexbox;
  margin: 20px;
  margin-top: 50px;
  .head-text {
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
  }
  .head-text:active {
    background-color: blue;
    color: white;
  }
  .headtext-container {
    display: flexbox;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .button {
    padding: 6px;
    border: none;
    border-radius: 5px;
    background: none;
    font-size: 16px;
    background: $primary;
    margin-left: 20px;
    color: $white;
    width: 25%;
    margin-top: 10px;
  }
}

.orders {
  margin: 100px 0 55px;
  .sub-header {
    .i-filter {
      margin: 0;
      float: right;
    }
  }
  .list {
    margin: 0 10px;
  }
  .filter {
    margin: 0 10px;
    ul {
      li {
        display: inline-block;
      }
    }
    select {
      margin: -10px 0 10px;
    }
    .dp {
      margin-bottom: 10px;
    }
  }
  .rdrCalendarWrapper,
  .rdrMonths,
  .rdrMonth {
    width: 100%;
    padding: 0;
  }
}
