@import "./../../scss/definitions/variables.scss";
.order-details {
  margin-top: 50px;
  margin-bottom: 50px;
  .row-view {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    height: 50px;
  }
  .details-view {
    ul {
      justify-content: space-evenly;
      margin: 10px;
    }
    li {
      color: gray;
      padding: 10px;
    }
    border: 0.5px solid lightgrey;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
  }
  .primary {
    margin: 10px;
  }
  .button-view {
    justify-content: space-between;
  }
}

.order-edit {
  //margin: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  //  position: absolute;
  //  top: calc(100% - 10px);
  //  left: calc(50% - 5px);
  //  transform: translate(-50%, -50%);
  //  width: calc(100% - 30px);
  div.input {
    margin: 10px;
    input {
      padding: 8px 8px 8px 0;
      display: block;
      width: calc(100% - 10px);
      border: none;
      border-bottom: 2px solid $border-grey;
      font-size: 1rem;
      &:focus {
        border-bottom-color: $primary;
      }
      &[type="password"] {
        padding: 8px 28px 8px 0;
        width: calc(100% - 30px);
      }
    }
    label {
      display: block;
      font-size: 1rem;
      color: $lbl-grey;
    }
    ul {
      li {
        display: block;
        margin-bottom: 10px;
        position: relative;
        span {
          font-size: 1rem;
          color: $lbl-grey;
          label {
            display: inline-block;
            vertical-align: super;
            margin-left: 3px;
          }
        }
        span,
        a,
        label {
          font-weight: bold;
        }
        a.fp {
          float: right;
          font-size: 1rem;
        }
        button {
          padding: 12px;
          margin-right: 10px;
          border: none;
          border-radius: 5px;
          background: none;
          font-size: 1rem;
          background: $primary;
          color: $white;
          width: 80%;
        }
      }
    }
  }
  select {
    margin: 10px;
    width: 50%;
    height: 30px;
    font-weight: 700;
  }
  option {
    font-size: 20;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  button {
    padding: 6px;
    border: none;
    border-radius: 5px;
    background: none;
    font-size: 16px;
    background: $primary;
    margin-left: 20px;
    color: $white;
    width: 25%;
    margin-top: 10px;
  }
  input {
    padding: 10px;
    margin: 10px;
  }
}

.order-list-container {
  border: 0.5px solid lightgrey;
  padding: 5px;
  margin: 5px;
  .menu{
    float: right;
  }
  .list-view {
    padding: 10px;
    
  }
}
.container {
  display: flexbox;
  margin: 20px;
  margin-top: 50px;
  .head-text {
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
  }
  .head-text:active {
    background-color: blue;
    color: white;
  }
  .headtext-container {
   display: flexbox;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .button {
    padding: 6px;
    border: none;
    border-radius: 5px;
    background: none;
    font-size: 16px;
    background: $primary;
    margin-left: 20px;
    color: $white;
    width: 25%;
    margin-top: 10px;
  }
}
