@import "./../../scss/definitions/variables.scss";

.store-design {
  margin: 50px 0;
  .tabs {
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid $lbl-grey;
    > div {
      text-align: center;
      padding: 10px 0;
      &:not(:last-child) {
        border-right: 0.5px solid $lbl-grey;
      }
      svg {
        vertical-align: middle;
      }
      label {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
      }
      &.active {
        background: $lbl-grey;
        color: $white;
        fill: $white;
      }
    }
  }
  .page {
    margin: 10px;
  }
  .theme {
    margin: 10px;
    h6 {
      font-weight: normal;
      font-size: 1rem;
      padding: 5px 0;
      margin: 0 0 10px;
    }
    ul {
      display: flex;
      flex-direction: row;
      li {
        width: 50px;
        height: 50px;
        display: inline-block;
        margin-right: 5px;
        border-radius: 5px;
        text-align: center;
        line-height: 45px;
        svg {
          vertical-align: middle;
        }
      }
    }
  }
  .actions {
    position: fixed;
    width: 100%;
    bottom: 60px;
    button {
      width: calc(50% - 20px);
      margin: 0 10px;
    }
  }
}


.page{
  ul{
      li{
          margin-top: 10px;
          label{
              display: block;
              color:gray;
          }
          textarea{
              width: 100%;
              height: 100px;
              margin-top: 10px;
          }
      }
  }
}
