@import './definitions/variables.scss';
button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: none;
  font-size: 1rem;
  &.primary {
    background: $primary;
    color: $white;
  }
  &.secondary {
    background: $secondary;
    color: $dark;
  }
  &.min {
    padding: 6px;
  }
  &.ml {
    margin-left: 5px;
  }
  &:disabled {
    background: $lbl-grey;
    cursor: not-allowed;
  }
}

