@import "./../../scss/definitions/variables.scss";

.setupContainer{
h2{
    color: #3f51b5;
    text-align: center;
    margin:10px 10px 10px 10px;
}
text{
    color: #3f51b5;
    font-size: 10px;
    font-weight: 600;
    font-family: sans-serif;
}
}