@import "./../../../scss/definitions/variables.scss";

.setup-container {
  margin: 50px 0 30px;
  padding: 15px;
  h2 {
    color: #3f51b5;
    text-align: center;
    margin: 10px 10px 10px 10px;
  }
  text {
    color: #3f51b5;
    font-size: 10px;
    font-weight: 600;
    font-family: sans-serif;
  }
  div.input ul {
    li {
      display: block;
      margin-bottom: 10px;
      position: relative;
      label {
        display: inline-block;
        vertical-align: super;
        margin-left: 3px;
      }
      input {
        text-indent: 32px;
      }
    }
  }
  button {
    width: 100%;
  }
}
