@import "./../../scss/definitions/variables.scss";

.addProduct {
  margin: 20px;
  input {
    padding: 10px;
    margin: 10px;
  }
}
.editContainer {
  margin: 50px 0 30px;
  padding: 15px;
   .productImg {
    height: 150px;
    width: 150px;
    align-items: center;
  }
  div.input {
    margin: 10px;
    input {
      padding: 8px 8px 8px 0;
      display: block;
      width: calc(100% - 10px);
      border: none;
      border-bottom: 2px solid $border-grey;
      font-size: 1rem;
      &:focus {
        border-bottom-color: $primary;
      }
      &[type="password"] {
        padding: 8px 28px 8px 0;
        width: calc(100% - 30px);
      }
    }
    label {
      display: block;
      font-size: 1rem;
      color: $lbl-grey;
    }
    ul {
      li {
        display: block;
        margin-bottom: 10px;
        position: relative;
        span {
          font-size: 1rem;
          color: $lbl-grey;
          label {
            display: inline-block;
            vertical-align: super;
            margin-left: 3px;
          }
        }
        span,
        a,
        label {
          font-weight: bold;
        }
        a.fp {
          float: right;
          font-size: 1rem;
        }
        button {
          padding: 12px;
          margin-right: 10px;
          border: none;
          border-radius: 5px;
          background: none;
          font-size: 1rem;
          background: $primary;
          color: $white;
          width: 80%;
        }
      }
    }
  
  .rowView {
    display: -ms-grid;
  }
  .textRow {
    float: left;
  }
  .switchView {
    float: right;
  }
  .toggleView {
    display: grid;
    grid-template-columns: 100px 100px;
  }
  .listView {
    display: grid;
    grid-template-columns: 100px 500px;
    margin: 10px;
  }
  .button {
    padding: 6px;
    border: none;
    border-radius: 5px;
    background: none;
    font-size: 16px;
    background: $primary;
    margin-left: 20px;
    color: $white;
    width: 25%;
    margin-top: 10px;
  }
  input {
    padding: 10px;
    margin: 10px;
  }
  .listContainer {
    border: 1px solid lightgrey;
    padding: 5px;
  }
  .inputView {
    justify-content: center;
  }
  .radio {
    justify-content: space-between;
    margin-top: 10px;
  }

  .productImg {
    height: 150px;
    width: 150px;
    align-items: center;
  }
  .thumbnailImg {
    height: 80px;
    width: 80px;
  }
}
}
