@import "./../../scss/definitions/variables.scss";

.listContainer{
    border:1px solid lightgrey;
    padding: 15px;

}
.productImg{
    height: 150px;
    width: 150px;
    align-items: center;
  }
  .thumbnailImg{
    height: 80px;
    width: 80px;
  }
